<div class="container">
  <div class="row">
    <div class="col-md-12">
      <label>Endereços: </label>
      <form [formGroup]="locationForm" (ngSubmit)="onSubmit(locationForm.value)">
        <div formArrayName="ends">
          <div *ngFor="let endsControl of locationForm.get('ends').controls; let i = index">
            <label >Endereço {{i + 1}}:</label>
            <br>
            <div class="form-inline">
                <input type="text" class="form-control mb-2 mr-sm-2" [formControlName]="i">
                <i *ngIf= "i>1" (click)="delend(i)"class="fa fa-minus-circle" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <br>
          <i (click)="addend()" class="fa fa-plus-circle" aria-hidden="true"></i>
        <button type="submit" [disabled]="!locationForm.valid" (click)= "getRotas()">Buscar</button>
      </form>
    </div>
  </div>
</div>






