<form [formGroup]="locationForm" (ngSubmit)="onSubmit(locationForm.value)">
<div class="container">
  <div class="row">
      
    <div class="col-md-4">
      <br>
      <h4 class="text-center" >Endereços</h4>
      <hr>
      
        <div formArrayName="ends">
          <div *ngFor="let endsControl of locationForm.get('ends').controls; let i = index">
            <label >Endereço {{i + 1}}:</label>
            <br>
            <div class="form-inline">
                <input type="text" class="form-control mb-2 mr-sm-2" [formControlName]="i">
                <i *ngIf= "i>3" (click)="delend(i)"class="fa fa-minus-circle" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <br>
          <i (click)="addend()" class="fa fa-plus-circle" aria-hidden="true"></i>
        
     
    </div>
    <div class="col-md-4 " >
      <br>
      <h4 class="text-center">Métodos</h4>
      <hr>
        
      <div class="form-check">
            
            <label class="form-check-label" for="CV"><input class="form-check-input" type="radio" name="metodos" value='0' formControlName="metodos">
            Caxeiro Viajante</label>
            </div>
            <div class="form-check">
            <label class="form-check-label" for="CV2"><input class="form-check-input" type="radio" name="metodos" value='1' formControlName="metodos">Caxeiro Viajante 2</label>
          </div>
          <div class="form-check">
            
            <label class="form-check-label" for="PM"><input class="form-check-input" type="radio" name="metodos" value='2' formControlName="metodos">Percurso Mínimo</label>
          </div>
          <div class="form-check">
            
            <label class="form-check-label" for="EM"><input class="form-check-input" type="radio" name="metodos" value='3' formControlName="metodos">Extensão Mínima</label>
          </div>
     
          
    </div>
    <div class="col-md-4 " >
      <br>
      <h4 class="text-center">Travel Mode</h4>
      <hr>
        
      <div class="form-check">
            
            <label class="form-check-label" for="TP"><input class="form-check-input" type="radio" name="travelmode" value='0' formControlName="travelmode">
            Transporte Público</label>
            </div>
            <div class="form-check">
            <label class="form-check-label" for="CR"><input class="form-check-input" type="radio" name="travelmode" value='1' formControlName="travelmode">
              Carro</label>
          </div>
          <div class="form-check">
            
            <label class="form-check-label" for="AP"><input class="form-check-input" type="radio" name="travelmode" value='2' formControlName="travelmode">
              A pé</label>
          </div>
          <div class="form-check">
            
            <label class="form-check-label" for="BK"><input class="form-check-input" type="radio" name="travelmode" value='3' formControlName="travelmode">
              Bicicleta</label>
          </div>
     
          
    </div>
  
  </div>
  <button class="btn btn-success float-right" type="submit" [disabled]="!locationForm.valid" (click)= "getRotas()">Buscar</button>
</div>

</form>





