<section class="dashboard-counts section-padding">
    <div class="container-fluid">
      <div class="row">
          <div class="col-lg-12 col-md-12">
            <h2 class="float-left">Rotas Disponíveis</h2>
            <br>
            <hr>
          <app-mapainicio #mapainicio></app-mapainicio>
         </div>
      </div>
    </div>
  </section>
  <!-- Header Section-->
  <section class="dashboard-header section-padding">
    <div class="container-fluid">
      <div class="row d-flex align-items-md-stretch">
        <!-- To Do List-->
        <!-- Pie Chart-->
        <div class="col-lg-12 col-md-12">
          <div class="card project-progress">
            
            
             <app-formsmaps [mapainicioref] = "mapainicio" [mapafinalref] = "mapafinal"></app-formsmaps>

          </div>
        </div>
      </div>
    </div>
  </section>
  <div>
    
  </div>

  <!-- Statistics Section-->
  <section class="statistics">
    
      
        <app-exemplos 
      [mapainicioref] = "mapainicio"
      [mapafinalref] = "mapafinal"
    >  
    </app-exemplos>
      
      
      
    
  </section>
  <!-- Updates Section -->
  <section class="dashboard-header section-padding">
      <app-mapafinal #mapafinal>

        </app-mapafinal>
     
    </section>