<!--<div *ngFor="let i of itens">
  <button (click)="exemplo(i)">Exemplo {{i}}</button>
</div>-->

<div class="container-fluid">
<div class="row d-flex">
<div class="col-lg-4" *ngFor="let r of rotas; let x = index">
  <!-- Monthly Usage-->
  <div class="card data-usage">
    <h2 class="display h4">Exemplo {{x+1}} - {{metodos[x]}}</h2>
    <div class="row d-flex align-items-center">
      <div class="col-sm-12 nomeend" >
        <p *ngFor = "let j of r">{{j}}</p>
      </div>
    </div>
    <button class="btn btn-dark" (click)="exemplo(x+1)"> Calcular </button>
  </div>
</div>
</div>
</div>