<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<button type="button" (click)="getDirection()">Get</button>
<agm-map 
  [latitude]="lat" 
  [longitude]="lng"
  [zoom]="zoom">
  <agm-marker
  *ngFor = "let m of markermodel"
  [latitude]="m.lat" 
  [longitude]="m.lng">
</agm-marker>
  <agm-direction
  *ngFor = "let d of destination"
  [origin]="origin" 
  [destination]="d.destination"
  [travelMode]="travelmode">
  </agm-direction>  
</agm-map>
<div *ngIf="formscomplete()">
    <h2>Request</h2>
    <button type="button" (click)="makeRequest()">Adicionar endereços</button>
    <div>
      <pre>{{data | json}}</pre>
    </div>
  </div>